includes:
  - vendor/shipmonk/dead-code-detector/rules.neon

parameters:
  level: 8
  phpVersion:
    min: 80300
    max: 80500
  paths:
    - bin
    - public
    - src
    - tests
  excludePaths:
    - var
    - vendor

  symfony:
    container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

  doctrine:
    objectManagerLoader: tests/object-manager.php
